<html>
  <head>
    <title>Team Builder</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <h1>BUILD MY TEAM</h1>
    <div class="box">
    <h1>TEAM A<h1>
    <ul>
    <%for(i=0;i<team_A.length;i++){%>
     <li><%=team_A[i]%><br><br></li>
     <%}%>
     </ul>
     </div>
     <div class="box">
     <h1>TEAM B<h1>
     <ul>
     <%for(i=0;i<team_B.length;i++){%>
      <li><%=team_B[i]%><br><br></li>
      <%}%>
      </ul>
      </div>
  </body>
</html>
